<!-- <div class="container">
  <mat-card class="root-card">
    <mat-card-header>
      <mat-card-title>Create Root Certificate</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="rootForm" (ngSubmit)="onSubmit()">
        
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject" placeholder="Input subject (exp. CN=Admin Root)">
          <mat-error *ngIf="rootForm.get('subject')?.hasError('required')">
            Subject is required
          </mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Druration (days)</mat-label>
          <input matInput type="number" formControlName="durationInDays">
          <mat-error *ngIf="rootForm.get('durationInDays')?.hasError('required')">
           Duration is required
          </mat-error>
          <mat-error *ngIf="rootForm.get('durationInDays')?.hasError('min')">
            Minimal duration 1 day
          </mat-error>
        </mat-form-field>

        
        <mat-slide-toggle formControlName="isCA" color="primary">
          is CA certificate (Root)?
        </mat-slide-toggle>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="rootForm.invalid">
            Create
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->

<form [formGroup]="rootForm" (ngSubmit)="onSubmit()">
  
    <div class="form-container" @slideIn>
      <mat-label>Subject</mat-label>
        <mat-form-field>
            <mat-label>Common Name (CN)</mat-label>
            <input matInput formControlName="cn" type="text" placeholder="Input CN (exp. CN=Admin Root)"/>
        </mat-form-field> 
        <mat-form-field>
            <mat-label>Organization (O)</mat-label>
            <input matInput formControlName="o" type="text" placeholder="Input organization (exp. O=Organization)"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Organization Unit (OU)</mat-label>
            <input matInput formControlName="ou" type="text" placeholder="Input organization unit (exp. OU=Organization...)"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Country (C)</mat-label>
            <input matInput formControlName="c" type="text" placeholder="Input conutry (exp. C=Serbia)"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Duration (in days)</mat-label>
            <input matInput formControlName="durationInDays" type="number"/>
        </mat-form-field>
        <mat-slide-toggle formControlName="isCA" color="primary">
          is CA certificate?
        </mat-slide-toggle>
        

    <button class="btnRegister" color="primary" type="submit" mat-raised-button>Create</button>
    </div>
</form>

