<form [formGroup]="caForm" (ngSubmit)="register()">
  <div class="form-container" @slideIn>
    
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" maxlength="50"/>
      <mat-error *ngIf="hasError('name')">{{ getErrorMessage('name') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" type="text" maxlength="50"/>
      <mat-error *ngIf="hasError('surname')">{{ getErrorMessage('surname') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email"/>
      <mat-error *ngIf="hasError('email')">{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Organization</mat-label>
      <input matInput formControlName="organization" type="text" maxlength="100"/>
      <mat-error *ngIf="hasError('organization')">{{ getErrorMessage('organization') }}</mat-error>
    </mat-form-field>

    <button color="primary" type="submit" mat-raised-button [disabled]="caForm.invalid">
      Register
    </button>
  </div>
</form>