<div id="nav-bar"> 
    <div class="navbar-title">Security Certificate App<sup>™</sup></div>

    <div class="navbar-buttons">
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedAdmin()" class="create-root-certificate-button" [routerLink]="['createRootCertificate']">Create root certificate</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedAdmin()" class="create-ca-certificate-button" [routerLink]="['create-ca-user']">Create CA user</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedCA()" class="create-ca-certificate-button">Create CA certificate</button>
        <button mat-raised-button *ngIf="isLoggedIn()" class="profile-button">User Profile</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedBasic()" class="basic-button" [routerLink]="['ee-certificateList']">Basic certificates</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedBasic()" class="active-token-button" [routerLink]="['activeTokens']">Active tokens</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedBasic()" class="basic-button" [routerLink]="['csrForm']">CSR</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedBasic()" class="basic-button" [routerLink]="['password-managment']">Password manager</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedCA()" class="ca-button" [routerLink]="['ca-certificateList']">CA certificates</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedCA()" class="ca-button" [routerLink]="['pending-csr-list']">Pending CSR</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedAdmin()" class="admin-button" [routerLink]="['certificateList']">All certificates</button>
        <button mat-raised-button *ngIf="!isLoggedIn()" class="login-button" [routerLink]="['login']">Log in</button>
        <button mat-raised-button *ngIf="isLoggedIn()" class="logout-button" [routerLink]="['login']" (click)="logout()">Log out</button>
    </div>
</div>